
@font-face { font-family: 'Modesto Condensed Bold'; src: url('modesto-condensed-bold.ttf'); }
@font-face { font-family: 'Bookmania'; src: url("Fontspring-DEMO-bookmania-regular.otf"); }
@font-face { font-family: 'FF Scala Sans'; src: url("ScalaSans.otf"); }

table {
    border-color: #444444;
}
tr:nth-child(even) {
    background-color: #2D2D2D;
}
th, td {
    padding: 4px;
    border: 1px solid #444444;
}
th {
    font-weight: bold;
    color: #D29A38;
}
td {
    text-align: center;
}

.heading {
    font-family: 'Modesto Condensed Bold';
    font-size: larger;
    text-decoration: underline;
}
.item {
    text-align: left;
}

input, select, button {
    width: 100%;
    height: 100%;
    padding: 6px 4px 4px 4px;
    box-sizing: border-box;
    font-family: "FF Scala Sans";

    font-size: small;
    border-radius: 6px 6px 0px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #444444;
    color: #BBBBBB;
    background-color: #222222;

    transition: all 0.125s ease-in-out;
}
input:hover, select:hover, button:hover {
    background-color: #565656;
}
input:focus, select:focus, button:focus {
    background-color: #565656;
    outline-color: #444444;
    outline-style: solid;
    outline-width: 1px 1px 0px 1px;
}
input[type="checkbox"] {
    width: unset;
}
button {
    cursor: pointer;
    border-radius: 6px;
    border-width: 1px;
}
.stat_modifier button {
    width: unset;
    padding: 8px;
    font-size: unset;
}

.collapsible {
    transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.collapsible::after {
    font-size: 24px;
    color: #D29A38;
}
.collapsible:hover {
    border-color: #D29A38;
    background-color: rgba(0,0,0,0.2);
}

.source {
    padding-left: 4px;
    color: #D29A38;
}
.source.PHB     { color: #337ab7; }
.source.MM      { color: green; }
.source.DMG     { color: purple; }
.source.VGM     { color: gray; }
.source.XGE     { color: #ba7c00; }
.source.MTF     { color: #1f6e7b; }
.source.AI      { color: #5baf04; }
.source.TCE     { color: #a24d08; }
.source.FTD     { color: #b82a15; }
.source.MPMM    { color: #5c758d; }
.source.AAG     { color: #056b97; }
.source.BAM     { color: #056b97; }
.source.BGG     { color: #469cb7; }
.source.MPP     { color: #a23087; }
.source.SatO    { color: #a23087; }
.source.BMT     { color: #694165; }
.source.DMTCRG  { color: #694165; }
.source.SCAG    { color: #76af76; }
.source.GRR     { color: #bfa76c; }
.source.ERLW    { color: #983426; }
.source.EGW     { color: #855a6e; }
.source.MOT     { color: #556b2e; }
.source.VRGR    { color: #bd000f; }
.source.SCC     { color: #be9c56; }
.source.TDCSR   { color: #642e4b; }
.source.PSZ     { color: #6f8a2d; }
.source.PSI     { color: #5d4696; }
.source.PSK     { color: #a27135; }
.source.PSA     { color: #eec276; }
.source.OSA     { color: #933d0f; }
.source.PSX     { color: #bb2722; }
.source.PSD     { color: #5db7da; }
.source.HWCS    { color: #d0914b; }

.stat {
    width: 100%;
}
.stat > span {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}
.stat_label {
    font-size: 0.9em;
    font-weight: bold;
    color: #999999;
}
.stat_modifier {
    font-size: 1.25em;
    padding: 4px 0px;
    font-weight: bold;
}
.stat_total {
    font-size: 0.9em;
    color: #999999;
}

.unprepared {
    background-color: #111111;
    color: #444444;
}
.unprepared > * {
    background-color: #111111;
    color: #444444;
    font-size: smaller;
}
